body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCFFB7;
}

.header {
    display: flex;
    gap: 4px;
    width: min(100vw, 500px);
    height: 32px;
    justify-content: space-between;
    background-color: rgba(167, 211, 34, 0.416);
}

.header > div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(56, 51, 206);
    font-weight: 700;
    font-size: 16px;
}

.header > button {
    flex: 1;
    background-color: rgba(0, 255, 221, 0.489);
    color: rgb(56, 51, 206);
    font-weight: 700;
    font-size: 16px;
    border-radius: 16px;
}

.header > button:hover {
    background-color: rgb(0, 255, 221);
}

.header > button:active {
    background-color: rgb(174, 236, 180);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 238, 37, 0.553);
    color: rgb(56, 51, 206);
    width: min(100vw, 500px);
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.gameBoard {
    border: 1px solid black;
    width: min(100vw, 500px);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.gameBoard > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard > div > img {
    width: 70%;
}